body {
  background-color: #ccddff;
}
.app {
  text-align: center;
  align-items: center;
}

.container {
  background-color: rgb(145, 138, 243);
  /* background:  */
  width: 50%;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 1.5rem;
}

input[type="text"],
select {
  width: 60%;
  padding: 0.9rem 1.2rem;
  margin: 1.8rem 0.6rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  box-sizing: border-box;
}

button {
  width: 15;
  background-color: #01db54;
  color: black;
  padding: 0.9rem 1.2rem;
  margin: 0.5rem 0.3rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #4caf47;
}

.header {
  width: 100%;
  padding: 0.8rem 1.2rem;
  color: #fff;
  font-size: 3rem;
}

.list_content {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.list_heading {
  color: rgb(15, 13, 14);
  font-size: 3rem;
  text-align: left;
  background-color: cadetblue;
  width: 60%;
}

.list_data {
  color: black;
  font-size: 1.2rem;
  background-color: rgb(164, 203, 237);
  text-align: left;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.8rem;
  width: 55%;
}
